body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeImg {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/84/Cincinnati_Skyline_-_panoramio.jpg');
  padding-top: 0%;
}

.homeImg2 {
  background-image: url('https://live.staticflickr.com/4818/44436783010_cc5db9d2e3_b.jpg');
}


.center {
  text-align: center;
}

.foodImg {
  width: 250px;
  height: auto;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.sm-img {
  width: 35%;
  height: auto;
}

.sports {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url(https://live.staticflickr.com/65535/51394704899_281b892f50_b.jpg);
  background-size: cover;
  color: white !important;
}

.food {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTokGJo9_cNfnDsZhVtmx-_aoX6gcWwCaGkgKn_CRLOapXgsRU3HyU2ogNEjfMwpScyd-I&usqp=CAU);
  background-size: cover;
  color: white !important;
}

.drinks {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),

    url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjU9lrHlF-IT6me2iMZxUCHued4fXsBthoepLEsXlR6OBinRcbcICv-CxdSEkflUOqT9E&usqp=CAU');
  background-size: cover;
  color: white !important;
}

.art {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),

    url('https://live.staticflickr.com/5646/20930361938_5af836d81d_b.jpg');
  background-size: cover;
  color: white !important;
}

.history {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),

    url('https://upload.wikimedia.org/wikipedia/commons/d/d4/Roebling_Suspension_Bridge%2C_Cincinnati%2C_OH_%2833760900118%29.jpg');
  background-size: cover;
  color: white !important;
}

.music {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),

    url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaNJaiEfNKuKWNCjHPSN-oBS7dttrno9jOJufM_ZEQQsE7zG_oIUzghtPK80vchdRr9Rc&usqp=CAU');
  background-size: cover;
  color: white !important;
}

.navbar-brand {
  color: rgb(10, 107, 126) !important;
}

.map-text {
  font-size: small;
  color: gray;
}

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home1 {
  background-color: rgb(255, 255, 255);
}

.homePar {
  line-height: 35px;
  margin-right: 30px;
  margin-left: 30px;
}

.aboutPar {
  line-height: 35px;
  margin-right: 30px;
  margin-left: 30px;
}

.homeHead {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.aboutHead {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  margin-right: 150px;
  margin-left: 150px;
}
/* .contactImg {
  background-image: url('https://pix4free.org/assets/library/2021-01-19/originals/cincinnati.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */