body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeImg {
  width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.foodImg {
  width: 250px;
  height: auto;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.sm-img {
  width: 35%;
  height: auto;
}

.sports {
  background-color: orange;
}

.food {
  background-color: red;
}

.drinks {
  background-color: darkorchid;
}

.art {
  background-color: mediumaquamarine;
}

.history {
  background-color: green;
}

.music {
  background-color: steelblue;
}

.navbar-brand {
  color: rgb(10, 107, 126) !important;
}